.seo
{

	font-size: 28px;
text-align: center;
color: white;
padding: 10px;
    padding-top: 10px;
padding-top: 18px
}

.web
{


	padding-top: 2px;

}

.android
{

	
}

.adwords
{

	width: 80px;
	height: 80px;
	border-radius: 50%;	
}
.payment
{
	width: 80px;
	height: 80px;
	border-radius: 50%;

}

.row_margin
{

	margin-bottom: 25px;
}